html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /* Pushes the footer to the bottom only when needed */
}

footer {
    margin-top: auto; /* Ensures the footer stays at the bottom */
    text-align: center;
}